{% extends './base.html' %}
{% block title %}
<title>Hotel Transylvania </title>
{% endblock title %}

{% block header %}
<div class="jumbotron">
    <div class="container text-center">
      <h1 style="color:orange;">Hotel Transylvania</h1>      
    </div>
  </div>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid" style="background-color: rgb(255, 150, 100);">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" color="yellow">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
          {% if who == "guest" %}
            <li><a href="{% url 'visit_rooms' %}"><span class="glyphicon glyphicon-list-alt"></span>Rooms</a></li>
            <li><a href="{% url 'service' %}"><span class="glyphicon glyphicon-wrench"></span>Services</a></li>
          {% endif %}
          {% if who == "manager" %}
            <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
          {% endif %}
          {% if who == "housekeeper" %}
          </br>
          </br>
        </br>
            <h4> Welcome dear housekeeper</h4>
            <li><a href="{% url 'manage_housekeeping' %}"><span class="glyphicon glyphicon-wrench"></span>Housekeeping requests</a></li>
          {% endif %}
          {% if  who == "installer" %}
          </br>
          </br>
        </br>
            <h4> Welcome dear installer</h4>
            <li><a href="{% url 'manage_installation' %}"><span class="glyphicon glyphicon-wrench"></span>Installation requests</a></li>
          {% endif %}
          {% if who == "restaurant staff" %}
            <h6> restaurant staff</h6>
            <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>Menu</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>Food requests</a></li>
          {% endif %}
    
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if who == "guest" %}
            <li><a href="{% url 'my_reservations' %}"><span class="glyphicon glyphicon-shopping-cart"></span>My reservations</a></li>
            <li><a href="#"><span class="	glyphicon glyphicon-usd"></span>Bill</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span>Log Out</a></li>
          {% else %}
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span>Log In</a></li>
            <li><a href="{% url 'sign_up' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
          {% endif %}
      </ul>
      </div>
    </div>
  </nav>
{% endblock header %}





