<!doctype html>
<html lang="en">
    
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
	<body>
        <div class="container">
            <br>
            <br>
            <a class="btn btn-warning" href="{% url 'home' %}">Home</a>
            <br>
            <br>
 
            <hr>
            <h2>Your Reserves</h2>         
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Room number</th>
                  <th>Capacity</th>
                  <th>Reserve Dates</th>
                  <th>Total Price</th>
                  <th>Cancle</th>
                </tr>
              </thead>
              <tbody>
                  {% for obj in reserves %}
                    {% for obj1 in obj.reserve_item.all %}
                    <tr>
                        <td>{{obj1.room.room_number}}</td>
                        <td>{{obj1.room.capacity}}</td>
                        <td>
                        <ul>
                        {% for o in obj1.staying_time.all %}
                            <li>{{o.month}}/{{o.day}}</li>
                        {% endfor %}
                        </ul>
                        </td>
                        <td>{{obj1.total_price}}</td>
                        <td>
                          <form method="POST" id="form2" action="{% url 'my_reservations' %}">
                            {% csrf_token %}
                            <button type="submit" id="{{obj1.pk}}" class="btn btn-danger">Cancle</button>
                          <a href="{% url 'cancle_reserve' %}"></a>
                        </form>
                        </td>
                      </tr>
                    {% endfor %}
                  {% endfor %}
              </tbody>
            </table>
          </div>
          <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
          {% load static %}
          <script>
              var CSRF_TOKEN = '{{ csrf_token }}';
              var URL = "{% url 'cancle_reserve' %}";
          </script>
          
          <script src={% static 'cancle_reserve.js' %}></script>
</body>
</html>